:root {
    --background-color: #121212;
    --text-color: #ffffff;
    --btn-background-color: #4CAF50;
    --btn-text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
}

.container {
    text-align: center;
}

.lotto-numbers-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#generate-btn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#theme-toggle-btn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
}

lotto-ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}