:root {
    --background-color: #121212;
    --text-color: #ffffff;
    --btn-background-color: #4CAF50;
    --btn-text-color: white;
    --card-background-color: #1e1e1e;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    --background-color: #f5f5f5;
    --text-color: #333333;
    --card-background-color: #ffffff;
}

.container {
    text-align: center;
    max-width: 960px;
    width: 100%;
    padding: 20px;
}

header {
    margin-bottom: 40px;
}

header h1 {
    font-size: 3em;
    font-weight: 700;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.recommendation-section, .contact-section {
    background-color: var(--card-background-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.recommendation-section:hover, .contact-section:hover {
    transform: translateY(-5px);
}

.menu-recommendation {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    height: 60px;
}

#menu-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}

#recommend-btn, .contact-form button {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.2s;
}

#recommend-btn:hover, .contact-form button:hover {
    transform: scale(1.05);
}

#theme-toggle-btn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-form h2 {
    margin-bottom: 15px;
    font-size: 2em;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.1em;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}