:root {
    --background-color: #121212;
    --text-color: #ffffff;
    --btn-background-color: #4CAF50;
    --btn-text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
}

.container {
    text-align: center;
}

.menu-recommendation {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    height: 30px;
}

#recommend-btn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 40px;
}

#theme-toggle-btn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-form h2 {
    margin-bottom: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}